  
  <div class="container">
    <div class="title">
      <h1>Gift and Exchange</h1>
    </div> 

    <!-- <div id="react-app"> Here a React app will be rendered </div> -->

    <div class="containerH">
      <div class="box1">
        <a href="<%= newSessionPath %>"><button>Iniciar Sesión</button></a>
      </div>

      <div class="box1">
        <a href="<%= newUserPath %>"> <button>Registrarse</button></a>
      </div>
      <!-- <div class="box2"></div> -->
    </div>
    <div class="box1">

    </div>


  </div>
