<h1>Hello world</h1>
<p>
  App web version
  <%= appVersion %>
</p>
<div id="react-app">Here a React app will be rendered</div>
<p><a href="<%= PublicationsPath %>">Ver publicaciones</a></p>
<p><a href="<%= UsersPath %>">Ver usuarios</a></p>

