<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>TecWeb</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
  </head>

  <body>
      <div id="menu">
          <a href="/" class="menuitem">Inicio</a>
          <a href="/publications" class="menuitem">Publicaciones</a>
          <a href="#mission_content" class="menuitem">Mission</a>
          <a href="#contact_content" class="menuitem">Contact</a>
      </div>
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>


  </body>

</html>
